body {
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#box {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 5px;
    padding: 5px;
}

#display {
    grid-column: 1 / -1;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    padding-right: 10px;
    border: 1px solid #333;
    background-color: grey;
    color: white;
}

.math {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 2em;
    color: white;
    background-color: grey;
}

#sys {
    background-color: orange;
    padding: 15px;
}


#box button:nth-of-type(1) { grid-column: 1; grid-row: 2; } 
#box button:nth-of-type(2) { grid-column: 1; grid-row: 3; } 
#box button:nth-of-type(3) { grid-column: 1; grid-row: 4; } 
#box button:nth-of-type(5) { grid-column: 2; grid-row: 2; } 
#box button:nth-of-type(6) { grid-column: 2; grid-row: 3; } 
#box button:nth-of-type(7) { grid-column: 2; grid-row: 4; } 
#box button:nth-of-type(9) { grid-column: 3; grid-row: 2; } 
#box button:nth-of-type(10) { grid-column: 3; grid-row: 3; } 
#box button:nth-of-type(11) { grid-column: 3; grid-row: 4; } 


#box button:nth-of-type(4) { grid-column: 1; grid-row: 5; }
#box button:nth-of-type(8) { grid-column: 2; grid-row: 5; } 
#box button:nth-of-type(12) { grid-column: 3; grid-row: 5; }

#box button:nth-of-type(13) { grid-column: 4; grid-row: 2; } 
#box button:nth-of-type(14) { grid-column: 4; grid-row: 3; }
#box button:nth-of-type(15) { grid-column: 4; grid-row: 4; }
#box button:nth-of-type(16) { grid-column: 4; grid-row: 5; } 
#box button:nth-of-type(17) { grid-column: 4; grid-row: 6; }

.math:active{
    font-size:2em;
}